{% extends 'layout.html' %} {% block title %} Crashell Books {% endblock %} {% block main %}

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card web50-card-dark">
            <h5 class="card-header">¿Estás buscando un libro?</h5>
            <div class="card-body">
                <h5 class="card-title">¡Hola 👋, soy Antonio y déjame guiarte!</h5>
                <p class="card-text">
                    Usualmente, en la búsqueda de libros, se busca por título, autor o temática.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% for dict_item in Dict_Phrases %} {% for key, value in dict_item.items() %}
    <div class="col-md-6 mx-auto">
        <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
            <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-book text-white"></i>
            </div>
            <p class="mb-0 mt-2 font-italic">"{{key}}"
                <footer class="blockquote-footer pt-4 mt-4 border-top">Someone famous in
                    <cite title="Source Title">{{value}}</cite>
                </footer>
        </blockquote>
    </div>
    {% endfor %} {% endfor %}
</div>

{% if session["username"] %}
<span>Inició como: {{session["username"]}}</span> {% else %}
<span>No has iniciado sesión</span> {% endif %} {% endblock %}